@import '../_typography.scss';
@import '../_colors.scss';

.button {
  a {
    height: 10rem;
    padding: 0 3rem;

    @include font(text, p, 700);
    line-height: 10rem;

    text-transform: uppercase;
    text-align: center;

    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      @include color(color, text);
      background-color: transparent;
    }
    &:hover, &:active {
      @include color(background, background-page);
    }

    border: 0;
    display: block;
  }

  display: inline-flex;
}


