@import '../_typography';
@import '../_colors';
@import '../_utils';

.button {
  a, button {
    height: 10rem;
    padding: 0 3rem;

    @include font(text, p, 700);
    line-height: 10rem;

    text-transform: uppercase;
    text-align: center;

    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      @include color(color, text);

      :global(.contrast) & {
        @include color(color, text-contrast);
      }
    }

    border: 0;
    display: block;
    cursor: pointer;
  }

  display: inline-flex;
  @include disable-text-selection;
}

.flat {
  a, button {
    background-color: transparent;
  }
}

