@import '../_colors.scss';

.logo {
  display: flex;

  g {
    @include color(fill, text);
  }

  .letterU {
    fill: #9f2bd8;
  }
  .letterS {
    fill: #e70c62;
  }
  .dot {
    fill: #2daa3d;
  }
}

.small {
  margin: 2rem;
  height: 7rem;
}
.inline {
  margin: 2.5rem 2rem 2rem 2rem;
  height: 5.5rem;
}

