@import '../_breaks';

%jumboIcon {
  display: inline-block;

  width: 0;
  height: 1rem;

  vertical-align: top;
  margin: -3rem 20rem 0 -20rem;

  font-size: 46rem;

  opacity: .1;

  @include break(700, 900) {
    vertical-align: inherit;
    margin: 0 5rem 0 -5rem;
    font-size: inherit;
    opacity: 1;
  }
}

.tagJumbo,
.menuEntryJumbo {
  padding-left: 15rem;

  @include break(700, 900) {
    padding-left: 0;
  }
}

.tagJumbo {
  h2 {
    text-transform: uppercase;

    &::before {
      content: '#';
      @extend %jumboIcon;
    }
  }
}

.menuEntryJumbo {
  h2 {
    i {
      @extend %jumboIcon;
      margin-top: -19rem;

      @include break(700, 900) {
        vertical-align: top;
        margin: 1.5rem 8rem 0 -8rem;
        font-size: inherit;
        opacity: 1;
      }
    }
  }
}

