
@function map-get-strict($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  } @else {
    @error "ERROR: Index #{$key} does not exist in the mapping; existing keys: #{map-keys($map)}";
  }
}

%invisible-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin: 0;
    padding: 0;
    display: flex;
  }
}

