
$colors: (
  background-page: #e2e2e2,
  background-post: white,
  background-pink: #eb3e5c,
  background-green: #2caa3e,
  background-contrast: #303030,
  text: #333333,
  text-contrast: white,
  action-purple: #9f2bd8,
  action-green: #2caa3e,
  action-gray: #2caa3e
);

$breaks: (
  300: (
    width: 332px,
    gutter: 4px
  ),
  500: (
    width: 592px,
    gutter: 4px
  ),
  700: (
    width: 756px,
    gutter: 8px
  ),
  900: (
    width: 924px,
    gutter: 8px
  )
);

