
$colors: (
  background-page: #e2e2e2,
  background-post: white,
  background-pink: #eb3e5c,
  background-green: #2caa3e,
  background-contrast: #303030,
  background-menu: #f1f1f1,
  background-overlay: #070037,
  dark: #000000,
  text: #333333,
  text-contrast: white,
  action-purple: #9f2bd8,
  action-green: #2caa3e,
  action-gray: #a5a5a5
);

$sizing-unit: 4px;

$breaks: (
  300: (
    width: 332px,
    gutter: 4px
  ),
  500: (
    width: 592px,
    gutter: 4px
  ),
  700: (
    width: 756px,
    gutter: 8px
  ),
  900: (
    width: 924px,
    gutter: 8px
  )
);

$fonts: (
  text: (
    family: ('Roboto Slab', serif),
    cap-height: .72,
    sizes: (
      p: (
        size: 16px,
        line-height: 6rem
      )
    )
  ),
  headers: (
    family: ('Andada', serif),
    cap-height: .7,
    sizes: (
      h1: (
        size: 26px,
        line-height: 8rem
      ),
      h2: (
        size: 24px,
        line-height: 8rem
      ),
      h3: (
        size: 22px,
        line-height: 7rem
      ),
      h4: (
        size: 20px,
        line-height: 7rem
      ),
      h5: (
        size: 18px,
        line-height: 6rem
      ),
      h6: (
        size: 16px,
        line-height: 6rem
      )
    )
  )
);

$letter-spacing: (
  text: (
    16px: -.003rem,
    18px: -.006rem
  ),
  headers: (
    26px: 0rem,
    24px: .01rem,
    22px: .02rem,
    20px: .03rem,
    18px: .04rem,
    16px: .04rem
  )
);

@each $point in map-keys($breaks) {
  $data: map-get($breaks, $point);

  @each $key in map-keys($data) {
    $value: map-get($data, $key);

    @if type-of($value) != 'number' {
      @error 'Value of $breaks[#{$point}][#{$key}]=#{$value} is not a number';
    }

    $in-rems: $value / $sizing-unit;

    @if round($in-rems) != $in-rems {
      @error 'Value of $breaks[#{$point}][#{$key}]=#{
        $value} is not divisible by sizing unit (#{$sizing-unit})';
    }
  }
}

