@import './_variables';
@import './_breaks';
@import './_colors';
@import './_typography';

@mixin anchor-color($color-name) {
  a {
    &:link, &:visited {
      @include color(color, $color-name, .9);
    }
    &:hover, &:active {
      @include color(color, $color-name);
    }

    @each $tag in h1, h2, h3, h4, h5, h6 {
      #{$tag} &:link, #{$tag} &:visited {
        @include color(color, $color-name, .7);
      }
      #{$tag} &:hover, #{$tag} &:active {
        @include color(color, $color-name, .8);
      }
    }
  }
}

body {
  @include color(background-color, background-page);
}

#all {
  width: 100%;
  margin: 0 1rem;

  @each $point in map-keys($breaks) {
    @include break($point) {
      width: map-get-strict(map-get-strict($breaks, $point), 'width');
      margin: 0 auto;
    }
  }

  @include anchor-color(action-purple);
}

@each $tag in h1, h2, h3, h4, h5, h6 {
  #{$tag} {
    @include color(color, text, .7);
    @include font(headers, $tag, 400);
    @include baseline(headers, $tag);
  }
}

p, li, blockquote, dt, dd, input, textarea {
  @include color(color, text);
  @include font(text, p, 300);
  @include baseline(text, p);
}

button, input[type=submit], input[type=button] {
  @include color(color, text, .95);
  @include font(text, p, 700);
}

