@import './_variables';
@import './_breaks';
@import './_colors';

#all {
  width: 100%;

  @each $point in map-keys($breaks) {
    @include break($point) {
      width: map-get-strict(map-get-strict($breaks, $point), 'width');
    }
  }

  margin: 0 auto;

  @include color(background-color, 'background-page');
}

