@import '../_breaks';
@import '../_colors';

.topBar {
  padding: 1rem 0;

  @include break(700, 900) {
    padding: 3rem 0;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.hamburger {
  display: flex;

  @include break(700, 900) {
    display: none;
  }
}

.sideMenu {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  display: none;

  &.visible {
    display: flex;

    @include break(700, 900) {
      display: none;
    }
  }
}
.hamburger {
  i {
    font-size: 7rem;
    @include color(color, text, .72);
  }
}

.inlineLogo {
  display: none;

  @include break(900) {
    display: flex;
  }
}

.smallLogo {
  display: flex;

  @include break(900) {
    display: none;
  }
}

.topMenu {
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  li {
    display: flex;
  }
  a {
    &:hover, &:active {
      @include color(background, background-page);
    }
  }

  display: none;

  @include break(700, 900) {
    display: flex;
  }
}

