@import '../_breaks';
@import '../_colors';
@import '../_typography';
@import '../_mixins';

.footer {
  position: relative;
  padding: 16rem 0;

  @include break(500) {
    padding: 18rem 0 10rem 0;
  }
  @include break(700) {
    padding: 18rem 0 16rem 0;
  }
  @include break(900) {
    padding: 14rem 0 12rem 0;
  }
}

.socialButtons {
  position: absolute;
  top: -7rem;
  left: 5rem;

  @include break(500, 700, 900) {
    left: 3rem;
  }

  @extend %invisible-list;

  li {
    margin-right: 5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}

.categories {
  @extend %invisible-list;

  flex-direction: column;

  @include break(500, 700, 900) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include break(700) {
    padding-right: 40rem;
  }

  a, button {
    margin: 1rem;
  }
}

.bottomParagraph {
  @include font(text, p, 400, $responsive: false);
  @include baseline(text, p, $responsive: false);

  padding: 0 4rem;
  margin: 8rem 0 0 0;

  @include break(500) {
    margin: 11rem 0 0 0;
  }
  @include break(700, 900) {
    margin: 16rem 0 0 0;
  }
}

.copyright,
.indexLink,
.sitemapLink {
  white-space: nowrap;
  display: block;

  @include break(500, 700, 900) {
    display: inline-block;

    &:before {
      content: '|';
      display: inline-block;
      padding: 0 2rem;
    }
  }
  @include break(700, 900) {
    &:before {
      padding: 0 4rem;
    }
  }
}

.copyright {
  &:before {
    display: none;
  }

  @include break(500) {
    display: block;
  }
}

.indexLink {
  @include break(500) {
    &:before {
      display: none;
    }
  }
}

.scrollUpButton {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
}

