@import '../_colors';

.panel {
  position: absolute;
  top: 0;
  left: -100%;

  width: calc(#{100%} - 14rem);
  max-width: 80rem;
  height: 100%;

  transition: left 300ms ease-in-out;

  @include color(background, background-page);
}

.visible {
  left: 0;
}

