@import '../_colors';

.panel {
  position: absolute;
  top: 0;
  left: -100%;

  width: calc(#{100%} - 14rem);
  max-width: 80rem;
  height: 100%;

  transition: left 200ms ease-out;

  @include color(background, background-page);

  display: flex;
  flex-direction: column;

  &.visible {
    left: 0;
  }
}

