@import '../mixins';
@import '../breaks';

.crumbs {
  padding: 2rem 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: none;

    @include break(500, 700, 900) {
      display: flex;
    }
  }

  li {
    &:not(:first-child) {
      &:before {
        content: '>';
        padding: 0 2rem;
      }
    }
  }
}

