@import '../mixins';
@import '../breaks';
@import '../typography';

.crumbs {
  display: flex;

  ul {
    @include invisible-list {
      padding: 3rem 0;

      @include break(700) {
        padding: 1rem 0;
      }
      @include break(900) {
        padding: 2rem 0;
      }

      flex-direction: column;

      @include break(700, 900) {
        flex-direction: row;
      }
    }
  }

  li {
    @include font(text, p, 300, $responsive: false);
    @include baseline(text, p, $responsive: false);

    &:not(:first-child) {
      &::before {
        content: '>';
        padding: 0 2rem;
      }
    }
  }

  a {
    &:link, &:visited {
      text-decoration: none;
    }

    &:hover, &:active {
      text-decoration: underline;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.responsive {
  li {
    &:not(:first-child) {
      &, &::before {
        display: none;

        @include break(700, 900) {
          display: inline-block;
        }
      }
    }
  }
}

