@import '../mixins';
@import '../breaks';
@import '../typography';

.crumbs {
  ul {
    list-style-type: none;
    display: none;

    @include break(700) {
      display: flex;
      margin: 3rem 0 -3rem 0;
      padding: 26rem 0 0 0;
    }
    @include break(900) {
      display: flex;
      margin: 1rem 0 -1rem 0;
      padding: 34rem 0 0 0;
    }
  }

  li {
    @include font(text, p, 300, $responsive: false);
    @include baseline(text, p, $responsive: false);

    &:not(:first-child) {
      &:before {
        content: '>';
        padding: 0 2rem;
      }
    }
  }

  a {
    &:link, &:visited {
      text-decoration: none;
    }

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

